
<h1>{{title}}</h1>
<app-main-nav></app-main-nav>
<!--<app-dataview></app-dataview>-->
<!--<nav>-->
<!--  <a routerLink="case" routerLinkActive="active">case</a>-->
<!--  <a routerLink="critical" routerLinkActive="active">critical</a>-->
<!--  <a routerLink="death" routerLinkActive="active">death</a>-->
<!--  <a routerLink="recover" routerLinkActive="active">recover</a>-->
<!--  <a routerLink="test" routerLinkActive="active">test</a>-->
<!--</nav>-->
<router-outlet></router-outlet>
<!--<app-daily-test></app-daily-test>-->
<!--<app-daily-case></app-daily-case>-->
<!--<app-daily-critical></app-daily-critical>-->
<!--<app-daily-death></app-daily-death>-->
<!--<app-daily-recover></app-daily-recover>-->


