<!--<mat-tab-group>-->
<!--  <mat-tab label="First"> <canvas id="canvas1">{{ chart }}</canvas></mat-tab>-->
<!--  <mat-tab label="Second"> <canvas id="canvas2">{{ chart }}</canvas> </mat-tab>-->
<!--  <mat-tab label="Second"> <canvas id="canvas3">{{ chart }}</canvas> </mat-tab>-->
<!--  <mat-tab label="Second"> <canvas id="canvas4">{{ chart }}</canvas> </mat-tab>-->
<!--  <mat-tab label="Second"> <canvas id="canvas5">{{ chart }}</canvas> </mat-tab>-->

<!--</mat-tab-group>-->




<!--<div class="chart-container" *ngIf="chart">-->
<!--  <canvas id="canvas1">{{ chart }}</canvas>-->
<!--  <canvas id="canvas2">{{ chart }}</canvas>-->
<!--  <canvas id="canvas3">{{ chart }}</canvas>-->
<!--  <canvas id="canvas4">{{ chart }}</canvas>-->
<!--  <canvas id="canvas5">{{ chart }}</canvas>-->
<!--</div>-->

